@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", helvetica, sans-serif;
}
.page{
  display: flex;
  flex-wrap: wrap;
}
.jumbotron{
  background-image: url("assets/dumplingmany.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 300px;
  width: 100%;
}
#headtext{
  font-family: "Poppins", helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  padding: 50px 0;
  color: white;
  font-size: 10vw;
  text-shadow: 2px 2px #E9CDA5;
  margin: 0;
  padding: 5px 10px 5px 10px;
}
#subtext{
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 3.5vw;
  text-shadow: 1px 1px #E9CDA5;
  margin: 0;
  padding: 5px 10px 5px 10px;
}
.cta{
  width: 325px;
  height: 325px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.container{
    position: relative;
}
.container:hover .cta{
  opacity: 0.3;
}
.container:hover .middle {
  opacity: 1;
}
.pictext {
  background-color: #4C5760;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.piclink:link, .piclink:visited, .piclink:active{
  color: white;
}
.piclink:hover{
  color: #E9CDA5;
}
.visit{
  text-decoration: none;
}
.visit-restaurant{
  background-color: #93A8AC;
  height: 620px;
  width: 100%;
}
.buy-online{
  background-color: #92828D;
  height: 670px;
  width: 100%;
}
#headcome{
  font-family: "Poppins", helvetica, sans-serif;
  font-style: semi-bold;
  text-align: center;
  padding-top: 20px;
  color: white;
  font-size: 40px;
}
#line{
  text-align: center;
  color: #E9CDA5;
  font-weight: bold;
}
#come{
  padding: 20px;
  color: white;
  font-size: 20px;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}
.about{
  background-color: #E9CDA5;
  width: 100%;
  padding: 10px;
}
#headabout{
  font-family: "Poppins;", helvetica, sans-serif;
  font-style: semi-bold;
  text-align: center;
  padding-top: 20px;
  color: #4C5760;
  font-size: 40px;
}
#about{
  font-size: 16px;
  text-align: justify;
  margin: 5px 20px 20px 20px;
  padding: 0px 10px 0px 10px;
}
.reviews{
  background-color: #D05353;
  width: 100%;
}
.revholder{
  display: flex;
  flex-wrap: wrap;
}
.revbox{
  background-color: white;
  height: 115px;
  width: 350px;
  border-radius: 15px;
  box-shadow: 5px 5px;
  margin: 10px auto 10px auto;
  padding: 15px;
  border-style: solid;
  border-width: medium;
}
#star{
  text-align: center;
}
.footer{
  background-color: #4C5760;
  width: 100%;
  font-size: 12px;
  text-align: center;
  color: white;
  margin: auto;
  padding: 15px;
}

@media only screen and (min-width: 601px) {
.visit-restaurant,.buy-online{
    width: 50%;
    height: 545px;
}
#about{
  margin-left: 75px;
  margin-right: 75px;
}}
@media only screen and (min-width: 625px) {
.jumbotron{
    min-height: 400px;
}}

@media only screen and (min-width: 735px) {
.jumbotron{
    min-height: 600px;
}}
