@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700");

body{
  margin: 0;
  padding: 0;
  border: 0;
}
div.jumbotron{
  background-image: url("assets/dumplingmany.jpg");
  background-size: 100% auto;
  background-repeat:no-repeat;
  border-style: none;
  min-height: 500px;
}

#headtext{
  font-family: "Poppins", helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  padding: 50px 0;
  color: white;
  font-size: 100px;
  text-shadow: 3px 3px #E9CDA5;
  margin: 0;
}
#subtext{
  font-family: "Roboto", helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  color: white;
  text-shadow: 1px 1px #E9CDA5;
  margin: 0;
}
